

body {
    margin:0;
}


ul.nav a {      
text-decoration: none;      
color: #333;      
background-color: yellow;      
display: block;      
width: 8em; 
.content {
	display: none;
}

.header {
    height: 100px;
    background-color: #809aa7;
	text-align: center;
	margin-bottom: 0;
	font-size: 250%;
}

.mainBody {
    background-color: white;
    position: absolute;
    top: 100px;
    bottom: 20px;
    width:100%;
}

.menu {
	background-color: #dddddd;
	width: 150px;
	height: 650px;
	float: left;
}

.dynamicContent {
	background-color: white;
	height: 650px;
	float: left;
	width: 750px;
}
#rotating-item-wrapper {
	position: relative;
	width: 640px;
	height: 347px;
}
.rotating-item {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.imageContent {
	background-color: white;
	height: auto;
	float: left;
	width: auto;
}

.imageArea {
}

.topButtonArea {
	
}

.bottomButtonArea {
	
}

.headerContent {
    color:#fff;
}

.footerContent {
	color: #fff;
}

.footer {
    height: 60px;
    background-color: #809aa7;
	position: absolute;
    bottom:0;
	text-align: center;
    width:100%;
}

